html {
    background-color: lightgrey;
}

header {
    background-color: #f6d4f5;

    .topbar {
        color: white;
        background-color: black;
        text-align: center;
    }

    img {
        position: sticky;
    }

    margin: 12px 12px 12px 12px;

    nav {
        border: lightgrey 1px solid;
        text-align: center;


        a {
            padding: 4rem;
            width: auto;
            color: black;
            text-decoration: none;
            font-weight: bold;
        }
    }

    #left {
        text-align: end;
        vertical-align: top;
        display: inline-block;
    }

}

.container {
    width: 80%;
    border: lightgrey 1px solid;
    margin: 0 auto;
}

#slider {
    img {
        width: 100%;
        height: auto;
        border: grey 1px solid;
    }

}

#select {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-evenly;
    background-color: white;

    h1 {
        padding-left: 2rem;
        width: 100%;
    }

    .escarpin img {
        filter: opacity(70%);

        &:hover {
            transform: scale(1.1);
            transition: transform 0.3s ease-in-out;
            filter: opacity(100%);
            transition: 0.4s ease-out;
        }
    }

}

#news {
    display: flex;
    justify-content: space-around;

    article {
        padding: 2rem;
        text-align: center;
        align-items: center;
    }

    #new {
        background-color: white;
        margin-top: 1rem;

        h2 {
            background-color: #ea32c4;
            padding: 1rem 1rem;
            width: 90%;

        }

        h3 {
            font-style: italic;
            font-weight: bolder;
        }

    }

    #best {
        background-color: white;
        margin-top: 1rem;

        h2 {
            background-color: #92be44;
            padding: 1rem;
            width: 90%;

        }
        h3 {
            font-style: italic;
            font-weight: bolder;
        }
    }
    #crush{
        background-color: white;
        margin-top: 1rem;

        h2 {
            background-color: #0099b1;
            padding: 1rem 1rem;
            width: 90%;

        }
        h3 {
            font-style: italic;
            font-weight: bolder;
        }
    }

    small {
        font-style: italic;
    }
}